/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
}

/* app styles */

body {
  background: linear-gradient(rgb(41, 54, 128), rgb(47, 150, 163));
  height: 100vh;
}

.header {
  font-size: 250%;
  padding: 1% 10%;
  color: white;
  border-bottom: 1px solid lightblue;
}
.main {
}

.days-wrap {
}
